{
    "extends": [
      "airbnb"
    ],
    "parser": "babel-eslint",
    "plugins": [
      "jest"
    ],
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "webpack.config.js"
        }
      },
      "import/extensions": [
        ".js",
        ".jsx"
      ],
      "import/ignore": [
        "\\.(s?css|less|styl|svg|json)$"
      ]
    },
    "rules": {
      "jsx-a11y/heading-has-content": 0,
      "jsx-a11y/aria-role": 0,
      "jsx-a11y/no-static-element-interactions": 0,
      "jsx-a11y/label-has-for": 0,
      "jsx-a11y/click-events-have-key-events": 0,
      "linebreak-style": 0,
      "import/no-unresolved": [
        2,
        {
          "commonjs": true,
          "amd": true,
          "caseSensitive": true
        }
      ],
      "import/named": 2,
      "import/default": 2,
      "import/namespace": 2,
      "react/sort-comp": 0,
      "react/no-array-index-key": 0,
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ],
      "react/prop-types": 0,
      "react/no-unused-state": 0,
      "react/no-did-mount-set-state": 1,
      "react/forbid-prop-types": [
        1,
        {
          "forbid": [
            "object",
            "any"
          ]
        }
      ],
      "no-console": 0,
      "class-methods-use-this": 0,
      "one-var": 0,
      "one-var-declaration-per-line": 0,
      "no-nested-ternary": 0,
      "no-await-in-loop": 1,
      "no-multi-assign": 0,
      "object-curly-newline": 0,
      "no-param-reassign": 0,
      "import/no-extraneous-dependencies": 0,
      "import/no-dynamic-require": 0,
      "global-require": 0,
      "import/prefer-default-export": 0,
      "no-mixed-operators": [
        "error",
        {
          "groups": [
            [
              "&",
              "|",
              "^",
              "~",
              "<<",
              ">>",
              ">>>"
            ],
            [
              "==",
              "!=",
              "===",
              "!==",
              ">",
              ">=",
              "<",
              "<="
            ],
            [
              "&&",
              "||"
            ],
            [
              "in",
              "instanceof"
            ]
          ],
          "allowSamePrecedence": true
        }
      ],
      "no-use-before-define": [
        "error",
        "nofunc"
      ],
      "semi": [
        "error",
        "never"
      ],
      "max-len": [
        "error",
        150,
        1,
        {
          "ignoreUrls": true,
          "ignoreComments": false,
          "ignoreRegExpLiterals": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true
        }
      ],
      "no-restricted-syntax": [
        "error",
        "WithStatement"
      ],
      "consistent-return": 0,
      "prefer-const": [
        "error",
        {
          "destructuring": "all"
        }
      ]
    },
    "env": {
      "jest/globals": true,
      "browser": true,
      "mocha": true
    },
    "globals": {
      "assert": true,
      "contract": true,
      "artifacts": true,
      "web3": true
    }
  }