body {
    background: rgb(227, 255, 192);

    .providerChoice {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
        transition: all 0.5s ease-in-out;
        
        &:hover {
            background: white;
        }
    }
}